@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap');
* {
	font-family: "Klee One", sans-serif;
	letter-spacing: -0.1em;
	font-size: 24px; 
	-webkit-tap-highlight-color: #0000;
}
html, body { margin: 0; padding: 0; }
body {
	overflow: hidden;
	background: #ccc;
}

.root {
	width: min(980px, 100%); height: 100%; 
}
.game {
	width: 980px; margin: auto; background: #fff;
	padding: 20px 0; 
	transform-origin: top center;
	display: flex; flex-direction: column;
}
.boardset{
	display: flex; flex-direction: column;
}
.wide .game {
	width: 1548px;
}
.wide .boardset{
	flex-direction: row;
}
.wide .board {
	margin: 8px;
}
.wide .board.komadai {
	width: 300px; height: 700px;
}
.wide .boardside {
	width: 316px; height: 900px;
	flex-direction: column;
}
.boardside.player0 {
	align-self: flex-end;
	justify-content: flex-end;
}
.boardside.player1 {
	align-self: flex-start;
	justify-content: flex-start;
}

h1 { text-align: center; letter-spacing: 0.1em; }

.board {
	display: grid; width: 900px; height: 1050px;
	border: 3px solid;
	margin: 8px auto; 
	background: linear-gradient(
		150deg, #eedf, #ffff 30%, #eedf 60%, #eeef
	);
	user-select: none;
}

.board.komadai{
	width: 700px; height: 300px;
	border: none;
	margin: 8px;
}

.boardside {
	height: 316px;
	margin: 8px;
	display: flex; justify-content: space-between;
	user-select: none;
}
.systemarea{
	width: 172px; margin: 8px 24px 8px auto;
	display: flex; flex-direction: column;
	position: relative;
}

@keyframes turn-indicator{
	0% { border-color: #c338; }
	50%{ border-color: #c333; }
	80%{ border-color: #c333; }
	90%{ border-color: #c338; }
	100%{ border-color: #c338; }
}
.systemarea .timer{
	text-align: center;
	font-size: 56px;
	font-family: Nunito;
	letter-spacing: 0;
	color: #6669;
	border: #0003 3px solid;
}
.running .systemarea .timer.active{
	color: #000c;
	animation: turn-indicator 0.5s infinite;
}
.systemarea .timer.player0{
	background: #bef9;
}
.systemarea .timer.player1{
	background: #ff99;
}
.systemarea .timer.player0.active{
	background: #beff;
}
.systemarea .timer.player1.active{
	background: #ff9f;
}


.cell {
	border: 1px solid #340;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell.accepting {
	cursor: pointer;
}
@media (hover: hover) {
	.cell.accepting:hover, .piece.floating{
		outline: 2px dashed #600d;
	}
	.cell.last-move-cell{
		outline: 2px dashed #999d;
	}
	.cell.accepting:hover, .cell.last-move-cell{
		outline-offset: -8px;
	}
	.piece.floating{
		outline-offset: 8px;
	}
}
@media (hover: none) {
	.cell.accepting, .piece.floating{
		outline: 2px dashed #600d;
	}
	.cell.last-move-cell{
		outline: 2px dashed #999d;
	}
	.cell.accepting, .cell.last-move-cell{
		outline-offset: -8px;
	}
	.piece.floating{
		outline-offset: 2px;
	}
}

.board.komadai .cell{
	display: flex;
	flex-wrap: wrap;
}

.piece{
	padding: 18px 20px 24px;
	height: 2em; 
	letter-spacing: -2px; 
	border-radius: 60px;
	writing-mode: vertical-lr;
	font-family: "Zen Kaku Gothic New"; font-weight: 700;
	font-size: 48px; 
	text-align: center;
	user-select: none;
}
.piece.pickable {
	cursor: pointer;
}

.piece.face0{
	color: #000f;
}
.piece.face1{
	color: #a00f;
}

.piece.size1 {
	padding: 12px 20px 18px;
	font-size: 45px;
}
.piece.size2 {
	padding: 15px 22px 21px;
	font-size: 48px;
}
.piece.size3 {
	padding: 18px 24px 24px;
	font-size: 50px;
}
.piece.size4 {
	padding: 18px 24px 24px;
	font-size: 52px;
}


.piece.player0{
	box-shadow: #3aef -1px -2px 3px 0px inset;
	background: radial-gradient(
		circle at 40% 20%, #9eff,#6dff 70%, #3aef
	);
	text-shadow: -1px -2px 2px #fff9;
}
.piece.player1{
	transform: rotate(180deg);
	box-shadow: #ec6f 1px 2px 3px 0px inset;
	background: radial-gradient(
		circle at 60% 80%, #ff9f, #fe6f 70%,  #ec6f
	);
	text-shadow: 1px 2px 2px #fff9;
}

.modal-system {
	position: fixed; width: 100%; height: 100%; z-index: 1100; left: 0; top: 0;
}
.modal-back {
	position: absolute; width: 100%; height: 100%; z-index: 1103;
	background: #5558; cursor: pointer;
}
.modal-main {
 	position: absolute; z-index: 1105;
	background: linear-gradient(
		170deg, #fdfc, #fffc 50%, #fffc 60%, #fdfc
	);
	border-radius: 8px; border: 2px solid #000f;
	box-shadow: #0008 0px 0px 20px 0px; 
	max-width: 90vw; max-height: 90vh;
	min-width: 50vw; min-height: min(30vw, 50vh);
	left: 50%; top: 40%; transform: translate(-50%, -40%);
	display: flex; flex-direction: column; justify-content: center;
}
.modal-title{
	background: #f99;
	padding: 8px; 
}
.modal-body {
	padding: 16px 48px;
	width: max-content; margin: auto; 
	display: flex; flex-direction: column; justify-content: space-around;
	flex-grow: 1;
}

.modal-main *{
	font-size: 30px;
}
.modal-main .alert-message{
	margin: 8px 0 24px;
}
.modal-main button{
	min-height: 80px; 
	font-size: 36px; 
	margin: 16px 8px; 
	padding: 0 24px;
	cursor: pointer;
	user-select: none;
}
.modal-main button.primaryButton{
	min-height: 200px;
}