@import url('https://fonts.googleapis.com/css2?family=Klee+One:wght@600');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@700&display=swap');
* {
	font-family: "BIZ UDPMIncho", sans-serif;
	font-size: 24px; 
	-webkit-tap-highlight-color: #0000;
}
html, body { margin: 0; padding: 0; }
body {
	overflow: hidden;
	background: #ccc;
}

.root {
	width: min(980px, 100%); height: 100%; 
}
.game {
	width: 1060px; margin: auto;
	background: url('images/seamless-wood-background-1-modified.jpg') #eda;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0; 
	transform-origin: top center;
	display: flex; flex-direction: column;
}
.boardset{
	display: flex; flex-direction: column;
	padding: 0 20px;
}
.wide .game {
	width: 1628px;
}
.wide .boardset{
	flex-direction: row;
}
.wide .board {
	margin: 8px;
}
.wide .board.komadai {
	width: 300px; height: 700px;
}
.wide .boardside {
	width: 316px; height: 900px;
	flex-direction: column;
}
.boardside.player0 {
	align-self: flex-end;
	justify-content: flex-end;
}
.boardside.player1 {
	align-self: flex-start;
	justify-content: flex-start;
}

h1 { text-align: center; letter-spacing: 0.1em; }

.board {
	display: grid; width: 900px; height: 1050px;
	border: 3px solid;
	margin: 8px auto; 
	background: url('images/aluminium-brushed-metal-texture.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	user-select: none;
}
.board:not(.komadai){
	padding: 20px;
}

.board.komadai{
	width: 700px; height: 300px;
	border: none;
	margin: 8px;
}

.boardside {
	height: 316px;
	margin: 8px;
	display: flex; justify-content: space-between;
	user-select: none;
}
.systemarea{
	width: 100%; 
	display: flex; flex-direction: row; justify-content: space-between;
}
.systemarea .timers{
	width: 172px; margin: 8px 24px 8px auto;
	position: relative;
}
.systemarea .status{
	font-size: 36px;
	padding: 0 16px;
	margin: 8px;
	height: min-content;
	align-self: center;
	max-height: 166px;
	overflow-y: auto;
}


@keyframes turn-indicator{
	0% { border-color: #c338; }
	50%{ border-color: #c333; }
	80%{ border-color: #c333; }
	90%{ border-color: #c338; }
	100%{ border-color: #c338; }
}
.systemarea .timer{
	text-align: center;
	font-size: 56px;
	font-family: Nunito;
	letter-spacing: 0;
	color: #6669;
	border: #0003 3px solid;
}
.running .systemarea .timer.active{
	color: #000c;
	animation: turn-indicator 0.5s infinite;
}
.systemarea .timer.player0{
	background: #bef9;
}
.systemarea .timer.player1{
	background: #ff99;
}
.systemarea .timer.player0.active{
	background: #beff;
}
.systemarea .timer.player1.active{
	background: #ff9f;
}
.systemarea .system-buttons{
	position: absolute;
	left: 24px;
	top: 24px;
}


.cell {
	border: 1px solid #003;
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.cell.accepting {
	cursor: pointer;
}
@media (hover: hover) {
	.cell.accepting:hover, .piece.floating{
		outline: 2px dashed #600d;
	}
	.cell.last-move-cell{
		outline: 2px dashed #339d;
	}
	.cell.accepting:hover, .cell.last-move-cell{
		outline-offset: -8px;
	}
	.piece.floating{
		outline-offset: 8px;
	}
}
@media (hover: none) {
	.cell.accepting, .piece.floating{
		outline: 2px dashed #600d;
	}
	.cell.last-move-cell{
		outline: 2px dashed #339d;
	}
	.cell.accepting, .cell.last-move-cell{
		outline-offset: -8px;
	}
	.piece.floating{
		outline-offset: 2px;
	}
}

.board.komadai .cell{
	display: flex;
	flex-wrap: wrap;
}

.piece{
	padding: 18px 20px 24px;
	height: 2em; 
	letter-spacing: -2px; 
	border-radius: 60px;
	writing-mode: vertical-lr;
	font-family: "Zen Kaku Gothic New"; font-weight: 700;
	font-size: 48px; 
	text-align: center;
	user-select: none;
}
.piece.pickable {
	cursor: pointer;
}

.piece .piece-image {
	width: 60px;
	position: relative;
}
.piece img {
	width: 120px; height: 140px;
	left: -30px; top: -18px;
	position: absolute;
	border-radius: 60px;
}

.piece.face0{
	color: #333f;
}
.piece.face1{
	color: #a00f;
}

.piece.size1 {
	padding: 12px 20px 18px;
	font-size: 45px;
}
.piece.size2 {
	padding: 15px 22px 21px;
	font-size: 48px;
}
.piece.size3 {
	padding: 18px 24px 24px;
	font-size: 50px;
}
.piece.size4 {
	padding: 18px 24px 24px;
	font-size: 52px;
}


.piece.player0{
	box-shadow: #3aef -1px -2px 3px 0px inset;
	background: radial-gradient(
		circle at 40% 20%, #9eff 20%,#6df6 60%, #6df9 62%, #3ae6
	);
	text-shadow: -1px -2px 2px #fff9;
}
.piece.player1{
	transform: rotate(180deg);
	box-shadow: #ec6f 1px 2px 3px 0px inset;
	background: radial-gradient(
		circle at 60% 80%, #ff9f 20%, #fe66 60%, #fe69 62%,  #ec66
	);
	text-shadow: 1px 2px 2px #fff9;
}

.modal-system {
	position: fixed; width: 100%; height: 100%; z-index: 1100; left: 0; top: 0;
}
.modal-back {
	position: absolute; width: 100%; height: 100%; z-index: 1103;
	background: #5558; cursor: pointer;
}
.modal-main {
 	position: absolute; z-index: 1105;
	background: linear-gradient(
		170deg, #fdfc, #fffc 50%, #fffc 60%, #fdfc
	);
	border-radius: 8px; border: 2px solid #000f;
	box-shadow: #0008 0px 0px 20px 0px; 
	max-width: 90vw; max-height: 90vh;
	min-width: 50vw; min-height: min(30vw, 50vh);
	left: 50%; top: 40%; transform: translate(-50%, -40%);
	animation: 0.2s ease-in modal-jump-in;
	display: flex; flex-direction: column;
}
.modal-title{
	background: #f99;
	padding: 8px; 
}
.modal-body {
	padding: 16px 24px;
	width: max-content; max-width: calc(100% - 48px); margin: auto; 
	display: flex; flex-direction: column;
	flex-grow: 0; overflow-y: auto;
}

@keyframes modal-jump-in {
	from { left: 50%; top:-20%; transform: translate(-50%, -20%); }
	to { left: 50%; top: 40%; transform: translate(-50%, -40%); }
}

.modal-main *{
	font-size: min(4vw, 30px);
}
.modal-main .alert-message{
	margin: 8px 0 0.3em;
}
.modal-main .message-log{
	font-size: 80%;
}
.modal-main .message-log .log-item{
	display: flex;
	flex-wrap: wrap;
}
.modal-main .message-log .board-side{
	justify-self: flex-end;
	width: 15em;
	flex-grow: 1;
	max-width: calc(100% - 2em);
}
.modal-main .message-log p{
	margin: 0;
	text-align: justify;
}
.modal-main .message-log .detail{
	line-height: 1.2;
	border: 1px solid #999;
	margin: 4px;
	padding: 4px;
}
.modal-main .message-log hr{
	clear: both;
}
.modal-main .buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.modal-main button{
	min-width: 6em;
	min-height: 2.25em;
	height: fit-content;
	align-self: center;
	font-size: min(4.8vw, 36px); 
	margin: 0.5em 0.25em;
	padding: 0 calc(4px + 0.5em);
	cursor: pointer;
	user-select: none;
}
.modal-main button.primaryButton{
	min-height: 200px;
}

.board-detail{
	display: flex;
	flex-direction: row;
}
.board-detail table{
	border: 1px solid #999;
	border-collapse: collapse;
}
.board-detail table td{
	height: 1em;
	width: 1em;
	line-height: 1em;
	border: 1px solid #999;
	padding: 2px;
	vertical-align: middle;
}
.board-detail table td.last-cell{
	background: #f996;
}
.board-detail table td.player1{
	transform: rotate(180deg);
}
.board-detail .komadai{
	letter-spacing: 0;
	writing-mode: vertical-lr;
	text-align: end;
	line-height: 1;
	padding: 8px 16px;
	width: calc(1em + 32px);
	height: calc(1em * 6 + 4px * 6 + 1px * 7);
}
.board-detail .komadai.player1{
	transform: rotate(180deg);
}
