@font-face {
  font-family: 'TKaisho-GT01';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(TKaisho-GT01-01.woff) format('woff');
}
/*
http://www.l.u-tokyo.ac.jp/GT/downloads.html
*/
